@charset "utf-8";
/* 包裹盒 */

.page {
  max-width: 7.5rem;
  margin: 0 auto;
}

.headCon .menu {
  width: .55rem;
  display: flex;
  justify-content: space-between;
}

.headCon .menu span {
  display: block;
  width: .12rem;
  height: .12rem;
  background: #000;
  border-radius: 50%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  height: 1.2rem;
  padding: 0 .5rem;
  background: #fff;
  border-top: 1px solid #ebebeb;
}

.footer a {
  display: block;
  text-align: center;
}

.footer a img {
  width: auto;
  height: .53rem;
}

.footer a p {
  font: 0.2rem/0.42rem "微软雅黑";
  color: #929292;
}

.footer .active p {
  color: #ff5a05;
}

.headCon {
  display: flex;
  justify-content: space-between;
  height: .88rem;
  background: #f26b11;
  align-items: center;
  padding: .4rem .28rem 0 .35rem;
}

.headCon .back img {
  width: auto;
  height: .29rem;
}

.headCon h2 {
  font: 0.35rem/0.88rem "微软雅黑";
  color: #fff;
}

.headCon .menu span {
  background: #fff;
}

.main ul {
  overflow: hidden;
  padding-top: .26rem;
  padding-bottom: 3.68rem;
}

.main ul li {
  width: calc(100% + .98rem);
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 .1rem #f7f7f7;
}

.main ul li .good {
  display: flex;
}

.main ul li .good input[type=checkbox] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  margin: .69rem .44rem 0 .24rem;
  display: block;
  float: left;
  width: .34rem;
  height: .34rem;
  border: .02rem solid #666666;
  border-radius: 50%;
}

.main ul li .good input[type=checkbox]:checked {
  border-color: #b32e1f;
  background: url(../images/selectCart.jpg) no-repeat center;
  background-size: .17rem .13rem;
}

.main ul li .good img {
  width: auto;
  height: .82rem;
  padding-top: .45rem;
}

.main ul li .good .txt {
  width: 2.35rem;
  padding: .07rem 0 .12rem .36rem;
}

.main ul li .good .txt .name {
  font: 0.28rem/0.53rem "微软雅黑";
  color: #343434;
}

.main ul li .good .txt .grammage {
  display: flex;
  font: 0.23rem/0.53rem "微软雅黑";
  color: #666666;
}

.main ul li .good .txt .grammage span {
  display: block;
  font: 0.24rem/0.53rem Arial;
  color: #666666;
}

.main ul li .good .txt .price {
  font: 0.32rem/0.47rem Arial;
  color: #e43a3d;
}

.main ul li p {
  display: flex;
}

.main ul li p .number {
  display: block;
  width: .79rem;
  height: .57rem;
  border-top: 1px solid #515151;
  border-bottom: 1px solid #515151;
  text-align: center;
  font: 0.2rem/0.57rem Arial;
  color: #454545;
  margin-top: .89rem;
}

.main ul li p .addOrDesc {
  display: block;
  width: .62rem;
  height: .57rem;
  font: 0.2rem/0.57rem Arial;
  border: 1px solid #515151;
  text-align: center;
  color: #454545;
  margin-top: .89rem;
  cursor: pointer;
}

.main ul li p .desc {
  border-radius: .04rem 0 0 .04rem;
}

.main ul li p .add {
  border-radius: 0 .04rem .04rem 0;
}

.main ul li p .del {
  display: block;
  width: .98rem;
  height: 1.72rem;
  font: 0.24rem/1.72rem "微软雅黑";
  background: #e43a3d;
  color: #fff;
  text-align: center;
  margin-left: .31rem;
}

.main ul .active {
  transform: translate(-0.98rem, 0);
  margin: .3rem 0;
}

.main ul li.noCon {
  box-shadow: none;
}

.noCon p {
  font: 0.24rem/1.72rem "微软雅黑";
  text-indent: .3rem;
}

.settlement {
  display: flex;
  justify-content: space-between;
  padding-left: .24rem;
  margin-bottom: 1.2rem;
}

.settlement>div {
  display: flex;
  justify-content: space-between;
  width: 4.41rem;
  height: 1.14rem;
  align-items: center;
}

.settlement>div .btn {
  display: flex;
  justify-content: space-between;
  width: .95rem;
  font: 0.24rem/0.34rem "微软雅黑";
  color: #676767;
}

.settlement>div .btn input[type=checkbox] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  display: block;
  width: .34rem;
  height: .34rem;
  border: .02rem solid #666666;
  border-radius: 50%;
}

.settlement>div .btn input[type=checkbox]:checked {
  border-color: #b32e1f;
  background: url(../images/selectCart.jpg) no-repeat center;
  background-size: .17rem .13rem;
}

.settlement>div>div {
  text-align: right;
}

.settlement>div>div .count {
  font: 0.3rem/0.46rem "微软雅黑";
  color: #323232;
}

.settlement>div>div .count span {
  display: inline-block;
  font: 0.3rem/0.46rem "微软雅黑";
  color: #e3393c;
}

.settlement>div>div .tip {
  font: 0.2rem/0.37rem "微软雅黑";
  color: #a4a4a4;
}

.settlement a {
  display: block;
  width: 2.14rem;
  height: 1.14rem;
  background: #f26b11;
  font: 0.3rem/1.14rem "微软雅黑";
  color: #ffffff;
  text-align: center;
}