@charset "utf-8";
/* 包裹盒 */
.page {
  max-width: 7.5rem;
  margin: 0 auto;
}
.headCon .menu {
  width: .55rem;
  display: flex;
  justify-content: space-between;
}
.headCon .menu span {
  display: block;
  width: .12rem;
  height: .12rem;
  background: #000;
  border-radius: 50%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  height: 1.2rem;
  padding: 0 .5rem;
  background: #fff;
  border-top: 1px solid #ebebeb;
}
.footer a {
  display: block;
  text-align: center;
}
.footer a img {
  width: auto;
  height: .53rem;
}
.footer a p {
  font: 0.2rem/0.42rem "微软雅黑";
  color: #929292;
}
.footer .active p {
  color: #ff5a05;
}
body {
  background: #f1f1f1;
}
.headCon {
  height: .88rem;
  padding: .40rem .23rem 0;
  background: #fff;
  align-items: center;
  border-bottom: 1px solid #e4e4e4;
  display: flex;
  justify-content: space-between;
}
.headCon .logo img {
  width: auto;
  height: .29rem;
}
.headCon .search {
  width: 3.04rem;
  height: .39rem;
  background: #eee;
  font: 0.18rem/0.39rem "微软雅黑";
  color: #bbb;
  text-align: center;
  border-radius: .06rem;
}
.navbar {
  position: relative;
  overflow: hidden;
  background: #fff;
  padding-left: .12rem;
}
.navbar ul {
  padding-top: .23rem;
  width: 100rem;
}
.navbar ul li {
  float: left;
}
.navbar ul li a {
  display: block;
  font: 0.18rem/0.32rem "微软雅黑";
  color: #2d2d2d;
  margin: 0 .2rem;
  padding-bottom: .17rem;
  border-bottom: .04rem solid transparent;
}
.navbar ul .active {
  position: relative;
}
.navbar ul .active a {
  border-bottom-color: #ff003e;
  color: #b60033;
}
.navbar ul .active::after {
  content: "";
  width: 1px;
  height: .32rem;
  background: #f1f1f1;
  position: absolute;
  right: 0;
  top: 0;
}
.navbar div {
  position: absolute;
  top: .06rem;
  right: 0;
  width: .75rem;
  height: .69rem;
  background: #ffffff url(../images/arrow.jpg) no-repeat center;
  background-size: .35rem .21rem;
}
.banner a {
  display: block;
}
.banner a img {
  width: 100%;
  height: auto;
}
.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 1.79rem;
  background: #fff;
  border-bottom: 1px solid #ebebeb;
}
.icons li {
  text-align: center;
}
.icons li a {
  display: block;
}
.icons li a img {
  width: auto;
  height: .62rem;
}
.icons li a p {
  font: 0.28rem/0.69rem "微软雅黑";
  color: #5a5a5a;
}
.limitTime {
  display: flex;
  background: #fff;
  border-bottom: .02rem solid #f0f0f0;
}
.limitTime > div {
  flex-grow: 1;
}
.limitTime .itemsL {
  position: relative;
  padding-top: .14rem;
  padding-left: .17rem;
  border-right: 1px solid #f0f0f0;
}
.limitTime .itemsL h3 {
  position: relative;
}
.limitTime .itemsL h3 a {
  display: block;
  font: 0.3rem/0.37rem "微软雅黑";
  color: #ff064f;
  text-indent: .45rem;
}
.limitTime .itemsL h3::before {
  content: "";
  width: .33rem;
  height: .31rem;
  background: url(../images/timer.jpg) no-repeat left top;
  background-size: .33rem .31rem;
  position: absolute;
  left: 0;
  top: .03rem;
}
.limitTime .itemsL .txt {
  padding-bottom: .04rem;
}
.limitTime .itemsL .txt a {
  display: block;
  font: 0.22rem/0.29rem "微软雅黑";
  color: #808080;
}
.limitTime .itemsL .time {
  padding-left: .03rem;
}
.limitTime .itemsL .time span {
  display: block;
  float: left;
  width: .43rem;
  height: .43rem;
  background: #27272f;
  color: #fff;
  border-radius: .06rem;
  text-align: center;
  line-height: .43rem;
  margin-right: .17rem;
}
.limitTime .itemsL .time .dotted {
  position: relative;
}
.limitTime .itemsL .time .dotted::after,
.limitTime .itemsL .time .dotted::before {
  content: "";
  width: .03rem;
  height: .03rem;
  background: #27272f;
  position: absolute;
  right: -0.1rem;
  top: .16rem;
}
.limitTime .itemsL .time .dotted::after {
  top: .24rem;
}
.limitTime .itemsL .time .yellow {
  width: .96rem;
  background: url(../images/bg.jpg) no-repeat center;
  background-size: .96rem .4rem;
  margin: 0 0 0 .26rem;
  color: #59460b;
}
.limitTime .itemsL .img {
  padding: .31rem 0 0 .42rem;
}
.limitTime .itemsL .img img {
  height: 2rem;
  width: auto;
}
.limitTime .itemsL .posi {
  position: absolute;
  right: .3rem;
  bottom: .29rem;
  width: .84rem;
  height: .84rem;
  background: #ff327a;
  color: #fff;
  text-align: center;
  font: 0.26rem/0.84rem "微软雅黑";
  border-radius: 50%;
}
.limitTime .itemsR .brand {
  border-bottom: 1px solid #efefef;
  display: flex;
}
.limitTime .itemsR .brand .txt h3 {
  padding-top: .14rem;
  position: relative;
}
.limitTime .itemsR .brand .txt h3 a {
  display: block;
  font: 0.3rem/0.37rem "微软雅黑";
  color: #ff064f;
  text-indent: .18rem;
}
.limitTime .itemsR .brand .txt h3::after {
  content: "折";
  width: .33rem;
  height: .25rem;
  font: 0.18rem/0.25rem "微软雅黑";
  background: #fe175b;
  color: #fff;
  text-align: center;
  position: absolute;
  left: 1.48rem;
  top: .2rem;
}
.limitTime .itemsR .brand .txt p a {
  display: block;
  font: 0.22rem/0.29rem "微软雅黑";
  color: #808080;
  text-indent: .18rem;
}
.limitTime .itemsR .brand .txt .pic {
  padding: .19rem 0 0 .19rem;
  display: block;
}
.limitTime .itemsR .brand .txt .pic img {
  width: auto;
  height: .32rem;
}
.limitTime .itemsR .brand .picR {
  display: block;
  padding: .05rem 0 .05rem .33rem;
}
.limitTime .itemsR .brand .picR img {
  width: auto;
  height: 1.78rem;
}
.limitTime .itemsR .item {
  display: flex;
}
.limitTime .itemsR .item > div {
  flex-grow: 1;
  padding-top: .14rem;
}
.limitTime .itemsR .item > div h3 a {
  display: block;
  font: 0.3rem/0.37rem "微软雅黑";
  color: #ff064f;
  text-indent: .18rem;
}
.limitTime .itemsR .item > div p a {
  display: block;
  font: 0.22rem/0.29rem "微软雅黑";
  color: #808080;
  text-indent: .18rem;
}
.limitTime .itemsR .item .left {
  border-right: 1px solid #f0f0f0;
}
.limitTime .itemsR .item .left .itemPic {
  display: block;
  padding: .04rem 0 0 .59rem;
}
.limitTime .itemsR .item .left .itemPic img {
  width: auto;
  height: 1.02rem;
}
.limitTime .itemsR .item .right .itemPic2 {
  display: block;
  padding: .13rem 0 .09rem .42rem;
}
.limitTime .itemsR .item .right .itemPic2 img {
  width: auto;
  height: 1.02rem;
}
.ads {
  margin: .28rem 0;
}
.ads a {
  display: block;
}
.ads a img {
  width: 100%;
  height: auto;
}
.goods {
  background: #fff;
  padding-bottom: .28rem;
  margin-bottom: 1.2rem;
}
.goods .title {
  display: flex;
  padding: .2rem .2rem .2rem .2rem;
}
.goods .title > li {
  flex-grow: 4;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  text-align: center;
}
.goods .title > li a {
  display: block;
  font: 0.28rem/0.68rem "微软雅黑";
  color: #0c0c0c;
}
.goods .title .active {
  border: none;
  background: #f26b11;
}
.goods .title .active a {
  font: 0.28rem/0.68rem "微软雅黑";
  color: #fff;
}
.goods .con {
  padding: 0 .17rem;
}
.goods .con > li {
  display: flex;
  padding: .31rem 0 .25rem .36rem;
  box-shadow: 0 0 .1rem #eaeaea;
  margin-bottom: .34rem;
}
.goods .con > li .goodPic img {
  padding: .23rem .51rem 0 0;
  width: auto;
  height: 2.2rem;
}
.goods .con > li .goodInfo h4 a {
  font: 0.28rem/0.57rem "微软雅黑";
  color: #363636;
}
.goods .con > li .goodInfo .price {
  font: 0.26rem/0.52rem "微软雅黑";
  color: #f03546;
}
.goods .con > li .goodInfo .bought {
  font: 0.2rem/0.58rem "微软雅黑";
  color: #949494;
  padding-bottom: .13rem;
}
.goods .con > li .goodInfo .btn {
  display: block;
  width: 1.64rem;
  height: .52rem;
  color: #fff;
  font: 0.24rem/0.52rem "微软雅黑";
  background: #f26b11;
  text-align: center;
  border-radius: .06rem;
}
.goods .con .marB0 {
  margin-bottom: 0;
}
