@charset "utf-8";
/* 包裹盒 */
.page {
  max-width: 7.5rem;
  margin: 0 auto;
}
.headCon .menu {
  width: .55rem;
  display: flex;
  justify-content: space-between;
}
.headCon .menu span {
  display: block;
  width: .12rem;
  height: .12rem;
  background: #000;
  border-radius: 50%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  height: 1.2rem;
  padding: 0 .5rem;
  background: #fff;
  border-top: 1px solid #ebebeb;
}
.footer a {
  display: block;
  text-align: center;
}
.footer a img {
  width: auto;
  height: .53rem;
}
.footer a p {
  font: 0.2rem/0.42rem "微软雅黑";
  color: #929292;
}
.footer .active p {
  color: #ff5a05;
}
body {
  background: #f1f1f1;
}
.headCon {
  display: flex;
  justify-content: space-between;
  height: .88rem;
  background: #f26b11;
  align-items: center;
  padding: .4rem .28rem 0 .35rem;
}
.headCon .back img {
  width: auto;
  height: .29rem;
}
.headCon h2 {
  font: 0.35rem/0.88rem "微软雅黑";
  color: #fff;
}
.headCon .menu span {
  background: #fff;
}
.userArea {
  display: flex;
  justify-content: space-between;
  height: 2.06rem;
  align-items: center;
  background: #f26b11;
  padding: 0 .38rem 0 .32rem;
}
.userArea .mine {
  width: 2.35rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.userArea .mine .minePic {
  display: block;
  width: 1.42rem;
  height: 1.42rem;
  border-radius: 50%;
  border: .05rem solid #fff;
  background: #822e02 url(../images/mine.png) no-repeat center;
  background-size: 1.3rem 1.36rem;
}
.userArea .mine .nameAndLevel .name {
  display: block;
  font: 0.3rem/0.51rem "微软雅黑";
  color: #fff;
}
.userArea .mine .nameAndLevel .level {
  display: block;
  font: 0.28rem/0.43rem "微软雅黑";
  color: #271217;
}
.userArea .register {
  display: block;
  width: 1.59rem;
  height: .71rem;
  text-align: center;
  font: 0.26rem/0.71rem "微软雅黑";
  color: #f26a12;
  background: #fff;
  border-radius: .04rem;
}
.icons {
  background: #fff;
  padding: 0 .65rem 0 .51rem;
  height: 1.42rem;
  margin-bottom: .21rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons a {
  display: block;
  text-align: center;
}
.icons a img {
  height: .34rem;
  width: auto;
}
.icons a p {
  font: 0.24rem/0.61rem "微软雅黑";
  color: #616161;
}
.manageArea {
  background: #fff;
  padding-bottom: 1.35rem;
  margin-bottom: 1.2rem;
}
.manageArea li {
  position: relative;
  background: url(../images/iconMine_4.jpg) no-repeat 0.35rem center;
  background-size: .36rem .4rem;
  border-bottom: 1px solid #d9d9d9;
}
.manageArea li a {
  display: block;
  font: 0.26rem/1.11rem "微软雅黑";
  color: #5c5c5c;
  text-indent: .94rem;
}
.manageArea li::after {
  position: absolute;
  right: .35rem;
  top: .45rem;
  content: "";
  width: .19rem;
  height: .26rem;
  background: url(../images/arrowRight.jpg) no-repeat center;
  background-size: .19rem .26rem;
}
.manageArea .wallet {
  background: url(../images/iconMine_5.jpg) no-repeat 0.35rem center;
  background-size: .36rem .36rem;
}
.manageArea .coupon {
  background: url(../images/iconMine_6.jpg) no-repeat 0.28rem center;
  background-size: .46rem .32rem;
}
.manageArea .erweima {
  background: url(../images/iconMine_7.jpg) no-repeat 0.35rem center;
  background-size: .36rem .34rem;
}
.manageArea .friends {
  background: url(../images/iconMine_8.jpg) no-repeat 0.33rem center;
  background-size: .38rem .36rem;
}
