@charset "utf-8";
/* 包裹盒 */
.page {
  max-width: 7.5rem;
  margin: 0 auto;
}
.headCon .menu {
  width: .55rem;
  display: flex;
  justify-content: space-between;
}
.headCon .menu span {
  display: block;
  width: .12rem;
  height: .12rem;
  background: #000;
  border-radius: 50%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  height: 1.2rem;
  padding: 0 .5rem;
  background: #fff;
  border-top: 1px solid #ebebeb;
}
.footer a {
  display: block;
  text-align: center;
}
.footer a img {
  width: auto;
  height: .53rem;
}
.footer a p {
  font: 0.2rem/0.42rem "微软雅黑";
  color: #929292;
}
.footer .active p {
  color: #ff5a05;
}
body {
  background: #f1f1f1;
}
.headCon {
  display: flex;
  justify-content: space-between;
  height: .88rem;
  background: #f26b11;
  align-items: center;
  padding: .4rem .28rem 0 .35rem;
}
.headCon .back img {
  width: auto;
  height: .29rem;
}
.headCon h2 {
  font: 0.35rem/0.88rem "微软雅黑";
  color: #fff;
}
.headCon .menu span {
  background: #fff;
}
.consigneeInfo {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: .12rem;
  padding: .04rem .26rem .23rem .29rem;
  background: #ffffff url(../images/arrowRight.jpg) no-repeat 99% 50%;
  background-size: .19rem .26rem;
}
.consigneeInfo .userInfo {
  display: flex;
  justify-content: space-between;
  width: 6.24rem;
  padding-right: .71rem;
  font: 0.24rem/0.65rem "微软雅黑";
  color: #5a5a5a;
}
.consigneeInfo .userInfo .num {
  display: block;
  font: 0.24rem/0.65rem "微软雅黑";
  color: #5a5a5a;
}
.consigneeInfo .addrInfo {
  display: flex;
  font: 0.24rem/0.3rem "微软雅黑";
  color: #5a5a5a;
}
.consigneeInfo .addrInfo .address {
  width: 5.32rem;
  display: block;
  font: 0.24rem/0.3rem "微软雅黑";
  color: #5a5a5a;
}
.orderInfo {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  padding: 0 .26rem;
  margin-bottom: .11rem;
}
.orderInfo .goodInfo {
  display: flex;
  justify-content: space-between;
  padding-bottom: .34rem;
  width: 6.98rem;
}
.orderInfo .goodInfo .left {
  display: flex;
}
.orderInfo .goodInfo .left .goodPic {
  display: block;
  padding-top: .22rem;
}
.orderInfo .goodInfo .left .goodPic img {
  width: auto;
  height: 2.2rem;
}
.orderInfo .goodInfo .left .good {
  padding-top: .28rem;
  padding-left: .28rem;
}
.orderInfo .goodInfo .left .good .goodName {
  font: 0.24rem/0.47rem "微软雅黑";
  color: #5f5f5f;
}
.orderInfo .goodInfo .left .good p {
  font: 0.24rem/0.48rem "微软雅黑";
  color: #b3b3b3;
}
.orderInfo .goodInfo .price {
  font: 0.3rem/1.14rem "微软雅黑";
  color: #df3b32;
}
.orderInfo .numInfo {
  display: flex;
  justify-content: space-between;
  padding-bottom: .38rem;
  width: 6.98rem;
}
.orderInfo .numInfo .txt {
  font: 0.24rem/0.64rem "微软雅黑";
  color: #626262;
}
.orderInfo .numInfo .square {
  display: flex;
  width: 2.9rem;
  justify-content: space-between;
}
.orderInfo .numInfo .square .addOrDesc {
  display: block;
  width: .73rem;
  height: .64rem;
  border: 1px solid #515151;
  font: 0.24rem/0.64rem "微软雅黑";
  color: #434343;
  text-align: center;
  border-radius: .03rem;
}
.orderInfo .numInfo .square input {
  width: 1.17rem;
  height: .64rem;
  border: 1px solid #515151;
  font: 0.24rem/0.64rem "微软雅黑";
  text-align: center;
  border-radius: .03rem;
}
.orderInfo .numInfo .square input::placeholder {
  color: #434343;
}
.orderInfo .deliver {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 6.98rem;
  height: .96rem;
  border-top: 1px solid #f0f0f0;
}
.orderInfo .deliver p {
  font: 0.24rem/0.64rem "微软雅黑";
  color: #626262;
}
.discount {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  margin-bottom: .1rem;
}
.discount .coupon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .36rem 0 .26rem;
  width: 6.88rem;
  height: 1.01rem;
  border-bottom: 1px solid #f1f1f1;
}
.discount .coupon p {
  font: 0.24rem/0.64rem "微软雅黑";
  color: #626262;
}
.discount .bounds {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.01rem;
  width: 6.98rem;
  padding: 0 .26rem;
}
.discount .bounds > p {
  font: 0.24rem/0.64rem "微软雅黑";
  color: #626262;
}
.discount .bounds > div {
  display: flex;
}
.discount .bounds > div input {
  width: 1.49rem;
  height: .7rem;
  border: .02rem solid #d9d9d9;
  font: 0.24rem/0.7rem "微软雅黑";
  border-radius: .03rem;
  text-align: center;
}
.discount .bounds > div input::placeholder {
  color: #ebebeb;
}
.discount .bounds > div a {
  display: block;
  width: .74rem;
  height: .73rem;
  background: #f26b11;
  font: 0.24rem/0.73rem "微软雅黑";
  color: #fff;
  text-align: center;
  border-radius: .03rem;
  margin-right: .19rem;
  margin-left: .09rem;
}
.discount .bounds > div p {
  display: flex;
  font: 0.22rem/0.73rem "微软雅黑";
  color: #929292;
}
.discount .bounds > div p span {
  display: block;
  font: 0.22rem/0.73rem "微软雅黑";
  color: #cd3a40;
}
.allInfo {
  margin-bottom: 1.2rem;
  padding: 0 .26rem .15rem .26rem;
  background: #fff;
}
.allInfo ul {
  display: flex;
  height: 2.6rem;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #efefef;
}
.allInfo ul li {
  display: flex;
  justify-content: space-between;
  width: 6.98rem;
}
.allInfo ul li .txt {
  font: 0.24rem/0.44rem "微软雅黑";
  color: #5c5c5c;
}
.allInfo ul li .number {
  font: 0.2rem/0.44rem "微软雅黑";
  color: #db3038;
}
.allInfo .payment {
  text-align: right;
  padding-top: .07rem;
  font: 0.36rem/1.26rem "微软雅黑";
  color: #626262;
}
.allInfo .payment span {
  font: 0.36rem/1.26rem "微软雅黑";
  color: #dd373b;
}
.allInfo .submit {
  margin: 0 auto;
  display: block;
  width: 3.55rem;
  height: 1.12rem;
  background: #f26b11;
  font: 0.3rem/1.12rem "微软雅黑";
  color: #fff;
  text-align: center;
  border-radius: .03rem;
}
