/* 搜索页 */
.search{
    width: 7.5rem;
}
.search .bigbox{
    width: 100%;
    height: 1.15rem;
    border-bottom: 0.01rem solid #dadada;
}
.search .bigbox .input{
    width: 7.1rem;
    height: 0.6rem;
    background-color: #ebecec;
    margin: 0 auto;
    margin-top: 0.3rem;
    border-radius: 0.3rem;
    display: flex;
}
.search .bigbox .input .p1{
    width: 0.6rem;
    height: 0.6rem;
    font-size: 0.24rem;
    line-height: 0.6rem;
    text-align: center;
}
.search .bigbox .input .p2{
    width: 5.9rem;
    height: 0.6rem;
}
.search .bigbox .input .p2 input{
    height: 100%;
    width: 100%;
    font-size: 0.3rem;
}
.search .bigbox .input .p3{
    width: 0.6rem;
    height: 0.6rem;
}
.search .bigbox .input .p3 button{
    font-size: 0.12rem;
    margin-top: 0.15rem;
    margin-left: 0.15rem;
    width: 0.3rem;
    height: 0.3rem;
    border: 0.01rem solid #a8a8a8;
    border-radius: 50%;
    line-height: 0.26rem;
    text-align: center;
}
/* 搜索页的热搜 */
.search .hotsearch{
    width: 100%;
}
.search .hotsearch p{
    width: 100%;
    height: 0.24rem;
    margin: 0.2rem;
}
.search .hotsearch .out{
    width: 7rem;
    margin: 0 auto;
}
.search .hotsearch .out .box{
    height: 0.64rem;
    min-width: 0.6rem;
    display: inline-block;
    border: 0.01rem solid #bdbdbd;
    border-radius: 0.3rem;
    padding: 0 0.3rem;
    font-size: 0.3rem;
    line-height: 0.64rem;
    margin: 0 0.08rem 0.08rem 0;
}
/* 搜索内容显示 */
.search .searchname{
    width: 100%;
}
.search .searchname .name{
    width: 100%;
    height: 0.8rem;
    border-top: 0.01rem solid #bdbdbd;
    border-bottom: 0.01rem solid #bdbdbd;
}
.search .searchname .name p{
    height: 100%;
    margin-left: 0.25rem;
    line-height: 0.8rem;
    font-size: 0.3rem;
}
/* 音乐列表 */
.search .searchname{
    width: 100%;
}
.search .searchname .bigbox{
    width: 100%;
    height: 1.1rem;
    position: relative;
    border-bottom: 0.01rem solid #ddd;
}
.search .searchname .bigbox .smbox{
    height: 1.1rem;
    width: 6.5rem;
}
.search .searchname .bigbox .smbox .p1{
    font-size: 0.34rem;
    width: 6.3rem;
    height: 0.5rem;
    margin-left: 0.2rem;
    margin-top: 0.2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.search .searchname .bigbox .smbox .p2{
    font-size: 0.18rem;
    color: #6d6d6d;
    width: 6.4rem;
    margin-left: 0.2rem;
}
.search .searchname .bigbox .smbox .p2 span{
    display: inline-block;
    width: 0.24rem;
    height: 0.16rem;
    background-image: url('../img/bg-g.png');
    background-size: 3.32rem 1.94rem;
    background-repeat: no-repeat;
}
.search .searchname .bigbox button{
    font-size: 0.36rem;
    color: #aaa;
    position: absolute;
    top: 0.15rem;
    right: 0.2rem;
}